html body {
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  display: flex;
  align-items: center;
}

.game {
  display: grid;
  border: 1px solid red;
  height: 50%;
  width: 100%;
 grid-template-columns: 1fr 1.5fr;
 grid-template-rows: 1fr 1.5fr;
}

.game > div {
  
}

.player-board {
  display: grid;
  border: 1px solid black;
}

.computer-board {
  display: grid;
  border: 1px solid black;
}

.grid {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: .8rem;
}

.hit {
  background-color: rgba(255, 0, 0, 0.219);
}

.miss {
  background-color: rgba(32, 178, 171, 0.274);
}

.ship {
  background-color: rgba(20, 155, 20, 0.349);
}